<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

      <h1>B2BPoint jako wizytówka WWW twojej hurtowni</h1>
      <p>Zapewnij swojej hurtowni przewagę poprzez B2BPoint! Zarejestruj się już teraz i wyeksponuj 
      swój biznes w najlepszym świetle, przyciągając nowych klientów i budując silną obecność online.</p>
      
      <h2>Rejestracja w B2BPoint jako konto dostawy pozwala na:</h2>
      
      <ul>
        <li>Aktualne dane teleadresowe: Niech Twoi klienci zawsze znajdą Cię bez problemu. Aktualizuj swoje dane na bieżąco, aby zapewnić 
          im łatwy dostęp do Twojej hurtowni.</li>
        <li>Obszerny opis firmy: Opisz swoją firmę w sposób, który przyciągnie uwagę klientów. Pokaż, dlaczego warto z nami współpracować 
          i jakie korzyści mogą zyskać, wybierając Twoje produkty.</li>
        <li>dodać odstępne formy integracji z twoją hurtownią</li>
        <li>Automatyczny formularz kontaktowy: Pozwól klientom skontaktować się z Tobą w prosty i wygodny sposób co przekłada się na lepszą 
          obsługę klienta i większą szansę na finalizację transakcji.
        </li>
        <li>Zwiększona widoczność w wyszukiwarkach: Nawet jeśli już masz swoją stronę internetową, rejestracja w B2BPoint to dodatkowa szansa 
          na zwiększenie swojej obecności w internecie. Nasza platforma zapewnia maksymalną widoczność Twojego profilu firmowego, co sprawia, 
          że łatwiej jest dotrzeć do potencjalnych klientów.</li>
      </ul>
      <p>Nie pozwól, aby Twoja hurtownia pozostała w tyle! Dołącz do B2BPoint już dziś i zyskaj przewagę nad konkurencją.</p>

      <div class="row mt-3">
        <div class="col-md-12 col-lg-6">
          <div class="card mb-4 rounded-1 shadow-sm">
            <div class="card-header py-3">
              <h3>Statystyki twojej wizytówki</h3>
            </div>
            <div class="card-body">
              <p>Monitoruj skuteczność Swojej hurtowni w naszej bazie. Dowiedz się ile osób odwiedziło twoją stronę, ile spędziło na niej czasi i co 
              konkretnie zrobiło. Dzięki danym masz pełny obraz tego za co płacisz.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card mb-4 rounded-1 shadow-sm">
            <div class="card-header py-3">
              <h3>Baza produktowa</h3>
            </div>
            <div class="card-body">
              <p>Pozwól znaleźć twoją ofertę nowym Klientom. B2BPoint to nie tylko użyteczny katalog hurtowni ale również wyszukiwarka produktów. Dodając swoją 
                ofertę na stronę łatwiej będzie odnaleźć twoją firmę nowym sklepom, które szukają konkretnych produktów.</p>
                <p><small>Funkcjonalność dostępna niebawem.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>