<div class="container">
    <main>
    <div class="row g-5" id="subscriptiontype" *ngIf="companyDateFromComplited">
        
        <div class="col-md-12 col-lg-12">
          <label class="mb-3">Wybór płatności i formy subsrybpcji</label>
            
            <div class="radio-tile-group row">
                <div class="input-container col-md-12 col-lg-5">
                  <input id="walk" class="radio-button" type="radio" name="radio" />
                  <div class="radio-tile">
                    <label for="walk" class="radio-tile-label">Basic</label>
                    <p>59 zł/rok</p>
                    <p class="my-2">Podstawowy pakiet dla Twojej hurtowni. Zawiera niezbęcne elementy, aby zwiększyć widoczność twojej firmy w internecie.</p>
                    <table class="table text-center">
                      <tbody>
                        <tr>
                          <td scope="row" class="text-start">Dane teleadresowe</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Opis firmy</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Logo firmy</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Statystyki oglądalności</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Promowanie na liście kategorii</td>
                          <td class="no">Nie</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Oferta produktowa</td>
                          <td class="no">Nie</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

            
                <div class="input-container col-md-12 col-lg-5">
                  <input id="walk" class="radio-button" type="radio" name="radio" disabled/>
                  <div class="radio-tile">
                    <label for="walk" class="radio-tile-label">Biznes</label>
                    <p>- zł/rok</p>
                    <p class="no">Czasowo niedostępne</p>
                    <p class="my-2">Wszystkie funkcje z pakietu BASIC oraz baza produktowa</p>
                    <table class="table text-center">
                      <tbody>
                        <tr>
                          <td scope="row" class="text-start">Dane teleadresowe</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Opis firmy</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Logo firmy</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Statystyki oglądalności</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Promowanie na liście kategorii</td>
                          <td class="yes">Tak</td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-start">Oferta produktowa</td>
                          <td class="yes">Tak</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
            </div>

            <label class="my-3">Wybierz płatność</label>

            <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="payment">
              @for (payment of paymentsMethod; track payment) {
                <div class="card mt-1 w-50">
                  <div class="card-body">
                    <mat-radio-button  class="radio-button" color="primary" [value]="payment">{{payment}}</mat-radio-button>
                  </div>
                </div>
              }

            </mat-radio-group>
            <hr>
            <button class="btn btn-lg btn-success">Potwierdź i zakończ</button>

        </div>
    </div>
    <div class="row g-5" id="companydate" *ngIf="!companyDateFromComplited">
        <div class="col-md-12 col-lg-2"></div>
        <div class="col-md-12 col-lg-8">
        <div class="pt-2 pb-1">
            <h2>Dodaj firmę</h2>
            <p>Proszę wpisz dane swojej firmy.</p>
            <p><small><strong style="color:brown">*</strong> Pole wymagane</small></p>
        </div>

        <hr class="mt-1 mb-3">

        <div *ngIf="validationErrors.get('regon')" class="alert alert-danger" role="alert">
            {{validationErrors.get('regon')}}
        </div>
        <div *ngIf="validationErrors.get('nip')" class="alert alert-danger" role="alert">
            {{validationErrors.get('nip')}}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        
        <form [formGroup]="registerCompanyForm" (submit)="addCompany()">
            <div class="row gy-3 mt-1 mb-1">
                <div class="col-md-12 col-lg-7">
                    <label class="form-label">Nazwa firmy: <strong style="color:brown">*</strong></label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': name.invalid && name.touched,
                        'is-valid': name.valid && name.touched
                      }" formControlName="name">
                    <div *ngIf="name.touched && name.hasError('required')" class="invalid-feedback">Pole Nazwa firmy jest wymagane</div>
                    <div *ngIf="name.touched && name.hasError('minlength')" class="invalid-feedback">Pole Nazwa firmy musi zawierać min 2 znaki</div>
                </div>
            </div>

            <div class="row gy-1 mt-1 mb-1">
                <label class="form-label">Typ firmy: <strong style="color:brown">*</strong></label>
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Wybierz tą opcję jeśli jesteś dostawcą i ofertujesz sprzedaż hurtową.</p>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="typeWholesaler" value="WHOLESALER" class="form-check-input" formControlName="typeWholesaler"[ngClass]="{
                                    'is-invalid': typeWholesaler.touched && registerCompanyForm.errors?.['isTypeSelect'],
                                    'is-valid': typeWholesaler.valid && typeWholesaler.touched
                                  }">
                                <label class="form-check-label">Jestem dostawcą</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Wybierze tą opcje jeśli szukasz nowych dostawców.<br /><br /></p>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="typeCustomer" value="CUSTOMER" class="form-check-input" formControlName="typeCustomer" [ngClass]="{
                                    'is-invalid': typeCustomer.touched && registerCompanyForm.errors?.['isTypeSelect'],
                                    'is-valid': typeCustomer.valid && typeCustomer.touched
                                  }">
                                <label class="form-check-label">Szukam dostawców</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(typeCustomer.touched || typeWholesaler.touched) && registerCompanyForm.errors?.['isTypeSelect']" class="col-md-12 col-lg-12 is-invalid" 
                style="font-size: 0.875em; color: var(--bs-form-invalid-color);">Wybierz conajmniej jedną opcję</div>
            </div>
            
            <div class="row gy-3 mt-1 mb-1">
                <div class="col-md-12 col-lg-7">
                    <label class="form-label">NIP firmy: <strong style="color:brown">*</strong></label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': (nip.invalid && nip.touched) || (nip.touched && registerCompanyForm.errors?.['nipValid']),
                        'is-valid': nip.valid && nip.touched
                      }" formControlName="nip">
                    <div *ngIf="nip.touched && nip.hasError('required')" class="invalid-feedback">Pole Nip firmy jest wymagane</div>
                    <div *ngIf="nip.touched && registerCompanyForm.errors?.['nipValid']" class="invalid-feedback">Numer NIP nieprawidłowy</div>
                </div>

                <div class="col-md-12 col-lg-5">
                    <label class="form-label">Forma prawna firmy: <strong style="color:brown">*</strong></label>

                    <select class="form-control" [ngClass]="{
                        'is-invalid': legalForm.invalid && legalForm.touched,
                        'is-valid': legalForm.valid && legalForm.touched
                      }" formControlName="legalForm">
                        <option [ngValue]="null" disabled>Wybierz formę prawną</option>
                        <option *ngFor="let legal of legalFormList | keyvalue" [value]="legal.key">{{legal.value}}</option>
                    </select>
                    <div *ngIf="legalForm.touched && legalForm.hasError('required')" class="invalid-feedback">Pole forma prawna jest wymagane</div>
                </div>
            </div>

            <div class="row gy-3 mt-1 mb-1">
                <div class="col-md-12 col-lg-6">
                    <label class="form-label">Regon: <strong style="color:brown">*</strong></label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': (regon.invalid && regon.touched) || (regon.touched && registerCompanyForm.errors?.['regonValid']),
                        'is-valid': regon.valid && regon.touched
                      }" formControlName="regon">
                      <div *ngIf="regon.touched && regon.hasError('required')" class="invalid-feedback">Pole regon jest wymagane</div>
                      <div *ngIf="regon.touched && regon.hasError('minlength')" class="invalid-feedback">Pole regon musi zawierać min 2 znaki</div>
                      <div *ngIf="regon.touched && registerCompanyForm.errors?.['regonValid']" class="invalid-feedback">Numer Regon jest nieprawidłowy</div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <label class="form-label">KRS: </label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': krs.invalid && krs.touched,
                        'is-valid': krs.valid && krs.touched
                      }" formControlName="krs">
                      <div *ngIf="krs.touched && krs.hasError('required')" class="invalid-feedback">Pole krs jest wymagane</div>
                      <div *ngIf="krs.touched && krs.hasError('minlength')" class="invalid-feedback">Pole krs musi zawierać 10 cyfr</div>
                      <div *ngIf="krs.touched && krs.hasError('maxLength')" class="invalid-feedback">Pole krs musi zawierać 10 cyfr</div>
                      <div *ngIf="krs.touched && krs.hasError('pattern')" class="invalid-feedback">Prosze wprowadź tylko cyfry</div>
                </div>
            </div>

            <div class="row mt-3 mb-1">
                <div class="col-md-12 col-lg-6">
                    <label class="form-label">Email firmowy: <strong style="color:brown">*</strong></label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': email.invalid && email.touched,
                        'is-valid': email.valid && email.touched
                      }" formControlName="email">
                    <div *ngIf="email.touched && email.hasError('required')" class="invalid-feedback">Email firmy jest wymagany</div>
                    <div *ngIf="email.touched && email.hasError('email')" class="invalid-feedback">Wpisz poprawny adres email</div>
                    <div *ngIf="email.touched && email.hasError('minlength')" class="invalid-feedback">Email musi zawierać min 2 znaki</div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <label class="form-label">Telefon firmowy: <strong style="color:brown">*</strong></label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': phone.invalid && phone.touched,
                        'is-valid': phone.valid && phone.touched
                      }" formControlName="phone">
                    <div *ngIf="phone.touched && phone.hasError('required')" class="invalid-feedback">Telefon do firmy jest wymagany</div>
                    <div *ngIf="phone.touched && phone.hasError('pattern')" class="invalid-feedback">Prosze wprowadź tylko cyfry</div>
                    <div *ngIf="phone.touched && phone.hasError('minlength')" class="invalid-feedback">Telefon musi zawierać min 9 cyfr</div>
                </div>
            </div>

            <div class="row mt-2 mb-1">
                <div class="col-md-12 col-lg-6">
                    <label class="form-label">Adres www: </label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': wwwSite.invalid && wwwSite.touched,
                        'is-valid': wwwSite.valid && wwwSite.touched
                      }" formControlName="wwwSite">
                      <div *ngIf="wwwSite.touched && wwwSite.hasError('pattern')" class="invalid-feedback">Wpisz poprawny adres url według wzoru: http://www.twojurl.pl</div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <label class="form-label">Adres sklepu  www: </label>
                    <input type="text" class="form-control" [ngClass]="{
                        'is-invalid': wwwStore.invalid && wwwStore.touched,
                        'is-valid': wwwStore.valid && wwwStore.touched
                      }" formControlName="wwwStore">
                      <div *ngIf="wwwStore.touched && wwwStore.hasError('pattern')" class="invalid-feedback">Wpisz poprawny adres url według wzoru: http://www.twojurl.pl</div>
                </div>
            </div>

            <button *ngIf="!buttonSend" class="w-100 btn btn-success btn-lg mt-3" type="submit">Dodaj firmę</button>
            <button *ngIf="buttonSend" class="w-100 btn btn-success btn-lg mt-3" type="submit" disabled>Proszę czekać</button>
        </form>
        </div>
        <div class="col-md-12 col-lg-2"></div>
    </div>
    </main>
</div>