<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
</div>

<h3>Wybierz kategorie:</h3>

<p>
  <label>Filter by:
    <input [(ngModel)]="searchString" />
  </label>
  <mat-slide-toggle class="toggle-show-only-selected" [(ngModel)]="showOnlySelected">Show only selected</mat-slide-toggle>
</p>
<mat-tree [dataSource]="categoryDataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node 
    *matTreeNodeDef="let node" 
    matTreeNodeToggle
    [style.display]="showOnlySelected && !node.selected || this.searchString && hideLeafNode(node) ? 'none' : 'block'">
    <li class="mat-tree-node">
      <mat-checkbox class="checklist-leaf-node" (change)="itemToggle($event.checked,node)" [checked]="node.selected">{{node.name}}</mat-checkbox>
    </li>
  </mat-tree-node>

  <mat-nested-tree-node 
    *matTreeNodeDef="let node; when: hasChild"
    [style.display]="(showOnlySelected && !(node.selected || node.indeterminate)) || this.searchString && hideParentNode(node) ? 'none' : 'block'">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
            <mat-checkbox [checked]="node.selected"
                  [indeterminate]="node.indeterminate && !node.selected"
                  (change)="itemToggle($event.checked,node)">{{node.name}}</mat-checkbox>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>

<hr>

<h3>Edytuj logo firmy</h3>

<img *ngIf="logo" src="{{'/api/company/logoImages/' + logo}}">

<form [formGroup]="imageForm" (submit)="uploadFile()">
  <input type="file" [accept]="requiredFileTypes" (change)="onFileChange($event)">
  <button>Dodaj logo</button>
</form>

<hr>

<h3>Edytuj opis</h3>

<form [formGroup]="editDescriptionForm" (submit)="editAdditionalData()">
<angular-editor type="text" formControlName="description" [config]="editorConfig"></angular-editor>

<button class="w-100 btn btn-success btn-lg mt-3" type="submit">Zapisz zmiany</button>

<form>
