<div class="container">

    <div class="row">
        <div class="col" *ngIf="user">
            <h2>Użytkownik</h2>
            <p>Imię i nazwisko: {{user.firstName}} {{user.lastName}}</p>
            <p>Adres kontaktowy: {{user.username}}</p>
            <p>Telefon: {{user.phone}}</p>
        </div>
        <div class="col" *ngIf="company === undefined">
            <h2>Firma użytkownika</h2>
            <p>Brak zarejestrowanej firmy</p>
            <p><a [routerLink]="['/add-company']">Zarejestruj nową firmę</a></p>
        </div>
        <div class="col" *ngIf="company">
            <h2>Firma użytkownika</h2>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{company.name}}</h3>
                    <p class="badge text-bg-success" *ngIf="company.active">Firma aktywna</p>
                    <p class="badge text-bg-danger" *ngIf="!company.active">Firma nieaktywna</p>
                    <p class="card-text">NIP: {{company.nip}}, REGON: {{company.regon}}
                    <br>Typ: {{getType(company.type)}}
                    </p>
                    <a [routerLink]="['/edit-company']">Edutuj firmę</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf="orders">
        <div class="col">
            <h2>Aktualne zamówione abonamenty</h2>
            <h3>Lista zamówień</h3>
            <div *ngFor="let order of orders">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nr. zam.</th>
                            <th>Typ abonamentu</th>
                            <th>Cena</th>
                            <th>Data rozpoczęcia</th>
                            <th>Data zakończenia</th>
                            <th>Typ płatności</th>
                            <th>Status płatności</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.id}}</td>
                            <td>Abonament {{order.packageType}}</td>
                            <td>{{order.price}} zł</td>
                            <td>{{order.startDate | date}}</td>
                            <td>{{order.endDate | date}}</td>
                            <td>{{order.paymentType | paymenttype}}</td>
                            <td>{{order.paymentStatus | paymentstatus}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="alert alert-warning" *ngIf="order.paymentStatus == 'NOTPAID'">
                    Aby opłacić subskrypcje prosimy o przelew w wysokości:
                    <br><strong>{{order.price}} zł</strong> na konto: <strong>{{bankAccount}}</strong>
                    <br> z tytyłem przelewu: "<strong>{{company?.name}}, zamówienie nr {{order.id}}</strong>"
                </p>
            </div>

            
        </div>
    </div>
    
</div>