<div class="container">
    <main>
    <div class="row g-5">
        <div class="col-md-12 col-lg-3"></div>
        <div class="col-md-12 col-lg-6">
            <div class="pt-5 pb-1">
                <h2>Przypomnienie hasła</h2>
            </div>

            <div *ngIf="success === 'yes'" class="alert alert-primary" role="alert">
                Instrukcja jak zmienić hasło została wysłana na adres.
            </div>

            <div *ngIf="success === 'no'" class="alert alert-danger" role="alert">
                Wystąpił błąd.
            </div>

            <form [formGroup]="remember" (submit)="rememberPassword()">

                <div class="col-12 mb-3">
                    <label class="form-label">Proszę wpisz swój adres e-mail:</label>
                    <div class="input-group">
                        <span class="input-group-text">&#64;</span>
                        <input type="text" class="form-control" [ngClass]="{
                            'is-invalid': username.invalid && username.touched,
                            'is-valid': username.valid && username.touched
                        }" formControlName="username">
                        <div *ngIf="username.touched && username.hasError('required')" class="invalid-feedback">Pole e-mail jest wymagane</div>
                        <div *ngIf="username.touched && username.hasError('email')" class="invalid-feedback">Pole musi zawierać poprawny adres email</div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-success btn-lg mt-3" type="submit">Przypomnij hasło</button>
                </div>

            </form>
        </div>
        <div class="col-md-12 col-lg-3"></div>
    </div>
    </main>
</div>