<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-2"></div>
        <div class="col-md-12 col-lg-8">
            <h1 class="text-success">Internetowa baza hurtowni - B2BPoint.pl</h1>

            <p class="introduction">Otwierasz coś swojego, a nie masz jeszcze sprawdzonych dostawców? Twój obecny dostawca znowu nawalił z wysyłką?  
            A może szukasz nowych produktów, ale w lepszych cenach.</p>
            <p class="introduction"> Znamy te problemy bardzo dobrze, dlatego stworzyliśmy B2bPoint.pl, bazę hurtowni online w której nie tylko 
            znajdziesz nowych dostawców, ale również wszystkie niezbędne informacje o nich, abyś nie szukał, nie dzwonił i nie tracił Swojego cennego czasu.</p>

            <h2 class="text-success">B2BPoint.pl to:</h2>
            <ul>
            <li>baza hurtowni z aktualnymi danymi podzielona na użyteczne kategorie</li>
            <li>dokładna informacja o dostępnym formach współpracy w zakresie integracji oraz pobieranie oferty produktowej</li>
            <li>cały czas rozwijana o nowe funkcjonalności, aby łączyć w przyjemny sposób współpracę pomiędzy dostawcami a odbiorcami - sklepami detalicznymi</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-2"></div>
        <div class="col-md-12 col-lg-4">
            <div class="card bg-secondary-subtle">
                <div class="card-body">
                    <h4 class="card-title"><strong>Mam sklep i szukam dostawców</strong></h4>
                    <p class="card-text">Znajdź swojego nowego dostawcę</p>
                    <a href="#" [routerLink]="['/catalog']" class="btn btn-success">Przejdź do listy hurtowni</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card bg-secondary-subtle">
                <div class="card-body">
                    <h4 class="card-title"><strong>Jestem hurtownią i chce dołączyć do b2bPoint.pl</strong></h4>
                    <p class="card-text">Sprawdź jak dodać swoją firmę do naszej bazy hurtowni.</p>
                    <a href="#" [routerLink]="['/add-company']" class="btn btn-success">Zobacz zalety B2BPoint i dodaj hurtownię</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-2"></div>
        <div class="col-md-12 col-lg-8">
            <div *ngIf="companies !== undefined && companies.length > 0">
                <div class="mt-4"><h2>Ostatnie dodane firmy:</h2></div>
                <div  class="row">
                <div class="col-md-6 col-lg-4" *ngFor="let company of companies">
                    <div class="card mt-3">
                        <div class="card-body company-list">
                            <h3 class="card-title">{{company.name}}</h3>
                            <a class="card-link" [routerLink]="['/company/' + company.slug]">Zobacz więcej</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2"></div>
    </div>
</div>
