h1 {
    font-size: 3rem;
    margin: 20px auto 20px auto;
}

h2 {
    font: 2em sans-serif;
    margin: 20px auto 20px auto;
}

.introduction {
    font-size: 1rem;
    line-height: 1.5rem;
}

li {
    font-size: 1rem;
    line-height: 1.5rem;
}