<div class="container">
    <div class="row">
        <div class="col" *ngIf="companies.length > 0">
            <h2>Ostatnie dodane firmy</h2>
            <div *ngFor="let company of companies">
                <p></p>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{company.name}}</h3>
                        <p class="card-text">{{company.description}}</p>
                        <a class="card-link" [routerLink]="['/company/' + company.slug]">Zobacz więcej</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" *ngIf="companies.length == 0">
            <h2>Ostatnie dodane firmy</h2>
            <p>Nie dodano jeszcze żadnej nowej firmy. <a [routerLink]="['/add-company']">Dodaj ją pierwszy</a></p>
        </div>
        <div class="col">
            <h1 class="mt-5">B2B Point</h1>
            <p>🛍️ Odkryj nową przestrzeń dla Twojej hurtowni na naszej platformie internetowej! 🚀</p>

            <p>🌟 Czy jesteś właścicielem hurtowni szukającym nowych sposobów na dotarcie do klientów? 
            🤝 Szukasz platformy, która pozwoli Ci efektywnie promować swoje produkty i usługi?</p>
                
            <p>👉 Nasza platforma to miejsce, gdzie Twoja hurtownia może zabłysnąć! Zapewniamy Ci nie 
            tylko możliwość prezentacji swojej oferty, ale także szereg narzędzi, które pomogą Ci zbudować 
            silną obecność online i przyciągnąć nowych klientów.</p>
                
            <p>🔍 Co zyskujesz, dołączając do naszej społeczności?</p>
                
            ✅ Możliwość prezentacji swoich produktów i usług w atrakcyjny sposób.<br>
            ✅ Dostęp do szerokiej bazy klientów poszukujących hurtowniowych rozwiązań.<br>
            ✅ Narzędzia marketingowe, które pomogą Ci dotrzeć do swojej docelowej grupy odbiorców.<br>
            ✅ Możliwość nawiązywania nowych kontaktów biznesowych i współpracy z innymi hurtowniami.<br>
            <br>
            
            <p>Nie czekaj dłużej! Dołącz do naszej platformy już dziś i rozwiń swoją hurtownię w nowy sposób! 💼💻</p>
            <button class="btn btn-success btn-lg" [routerLink]="['/add-company']">Dodaj nową firmę</button>
        
        </div>
    </div>
    
</div>
