<div class="container">
    <div class="row">
        <div class="col" *ngIf="companies">
            <h2>Ostatnie dodane firmy</h2>
            <div *ngFor="let company of companies">
            <p></p>
            <div class="card">
                <div class="card-body">
                <h3 class="card-title">{{company.name}}</h3>
                <p class="card-text">{{company.description}}</p>
                <a class="card-link" [routerLink]="['/company/' + company.slug]">Zobacz więcej</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <h1 class="mt-5">B2B Point</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
                the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
                the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <div class="text-center">
                <button class="btn btn-success btn-lg" [routerLink]="['/add-company']">Dodaj nową firmę</button>
            </div>
        </div>
    </div>
    
</div>
