<div class="container">
    <div class="row">
        <div class="col-3 border rounded-1 shadow-sm bg-light-subtle p-4 mr-1 mb-3">
            <h3>Kategorie:</h3>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <a href={{node.slug}}>{{node.name}}</a>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                    </button>
                    <a href={{node.slug}}>{{node.name}}</a>
                </mat-tree-node>
            </mat-tree>

            <h3>Regiony:</h3>
            <ul *ngFor="let region of voivodeship | keyvalue" class="ms-3">
                <li><a href="">{{region.value}}</a></li>
            </ul>
        </div>
        <div class="col-9">
            <div *ngFor="let company of page?.content" class="ms-3">
                <div class="w-100 border rounded-1 shadow-sm bg-light-subtle p-4 mr-1 mb-3">
                    <div class="row">
                        <div class="col-10">
                            <h3>{{company.name}}</h3>
                            <p>{{company.nip}}</p>
                        </div>
                        <div class="col-2">
                            <img *ngIf="company.logo" src="{{'/api/img/get/logos/' + company.logo}}" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator *ngIf="page && page.totalElements > 0"
              [length]="page.totalElements"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25]"
              aria-label="Wybierz stronę"
              (page)="onPageEvent($event)">
    </mat-paginator>

</div>
