<div class="container" *ngIf="notFound">
    <p>Firmy nie znaleziono lub jest ona nieaktywna</p>
</div>
<div class="container" *ngIf="company">
    <div>
        <h1>{{company!.name}}</h1>
    </div>
    <div class="row border shadow-sm p-3 mb-3 rounded">
        <div class="col-2"> 
            <table class="table-responsive w-100">
                <tr>
                    <td>
                        <img *ngIf="company!.logo" src="{{'/api/img/get/logos/' + company!.logo}}" class="img-fluid">
                        <img style="width: 200px;" *ngIf="company!.logo == undefined" src="./assets/nophoto.png">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-7">
            <table class="table-responsive w-100">
                <tr>
                    <td>
                        <p><strong>Dane podstawowe:</strong></p>
                        <hr class="border border-1 opacity-50">
                        <table class="table-responsive">
                            <tr>
                                <td class="p-2 w-50">NIP:</td>
                                <td class="p-2">{{company!.nip}}</td>
                            </tr>
                            <tr>
                                <td class="p-2">Regon:</td>
                                <td class="p-2">{{company!.regon}}</td>
                            </tr>
                            <tr *ngIf="company.branch != null">
                                <td class="p-2">Adres:</td>
                                <td class="p-2">
                                    {{company.branch.street}} {{company.branch.house_number}} <span *ngIf="company.branch?.office_number">/ {{company.branch.office_number}}</span>,<br /> 
                                    {{company.branch.post_code}} - {{company.branch.city}}
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">Telefon:</td>
                                <td class="p-2">{{company.phone}}</td>
                            </tr>
                            <tr>
                                <td class="p-2">E-mail:</td>
                                <td class="p-2"><a href="{{'mailto:' + company.email}}">{{company.email}}</a></td>
                            </tr>
                            <tr>
                                <td class="p-2">Strona WWW: </td>
                                <td class="p-2"><a href="{{company.wwwSite}}">{{company.wwwSite}}</a></td>
                            </tr>
                            <tr>
                                <td class="p-2">Sklep Online: </td>
                                <td class="p-2"><a href="{{company.wwwStore}}">{{company.wwwStore}}</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-3">
            <p><strong>Dostępna integracje:</strong></p>
            <hr class="border border-1 opacity-50">
            <table class="table-responsive w-100">
                <tr>
                    <td>WEB API:</td>
                    <td>
                        <span *ngIf="company.apiCooperation" class="text-success fw-bold">TAK</span>
                        <span *ngIf="!company.apiCooperation" class="text-danger fw-bold">NIE</span>
                    </td>
                </tr>
                <tr>
                    <td>EDI</td>
                    <td>
                        <span *ngIf="company.ediCooperation" class="text-success fw-bold">TAK</span>
                        <span *ngIf="!company.ediCooperation" class="text-danger fw-bold">NIE</span>
                    </td>
                </tr>
                <tr>
                    <td>Pliki danych (CSV,XML)</td>
                    <td>
                        <span *ngIf="company.productFileCooperation" class="text-success fw-bold">TAK</span>
                        <span *ngIf="!company.productFileCooperation" class="text-danger fw-bold">NIE</span>
                    </td>
                </tr>
            </table>

            <div *ngIf="socials">
                <p class="mt-5"><strong>Znajdziesz nas również:</strong></p>
                <hr class="border border-1 opacity-75">
                <div class="row">
                    <div *ngFor="let social of socials" class="col">
                        <a href="{{social.url}}"><fa-icon class="fa-2xl text-success" [icon]="getIcon(social.type)"></fa-icon></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div *ngIf="company.description" class="col-7" [innerHTML]="company.description"></div>
        <div *ngIf="!company.description" class="col-7">Brak opisu firmy.</div>
        <div class="col-1"></div>
        <div class="col-4 border shadow-sm p-3 mb-3 rounded">

            <form class="needs-validation p-3" [formGroup]="sendMassageForm" (submit)="sendMessage()">
                <div class="row g-3">

                    <h4>Formularz kontaktowy</h4>
        
                    <div class="col-md-12 col-lg-12">
                        <label class="form-label">Imię: <strong style="color:brown">*</strong></label>
                        <input type="text" class="form-control" [ngClass]="{
                            'is-invalid': name.invalid && name.touched,
                            'is-valid': name.valid && name.touched
                          }" formControlName="name">
                        <div *ngIf="name.touched && name.hasError('required')" class="invalid-feedback">Pole Imię jest wymagane</div>
                        <div *ngIf="name.touched && name.hasError('minlength')" class="invalid-feedback">Pole Imię musi zawierać min 3 znaki</div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <label class="form-label">Adres e-mail: <strong style="color:brown">*</strong></label>
                        <input type="text" class="form-control" [ngClass]="{
                            'is-invalid': email.invalid && email.touched,
                            'is-valid': email.valid && email.touched
                          }" formControlName="email">
                        <div *ngIf="email.touched && email.hasError('required')" class="invalid-feedback">Pole Imię jest wymagane</div>
                        <div *ngIf="email.touched && email.hasError('minlength')" class="invalid-feedback">Pole Imię musi zawierać min 3 znaki</div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <label class="form-label">Telefon: <strong style="color:brown">*</strong></label>
                        <input type="text" class="form-control" [ngClass]="{
                            'is-invalid': phone.invalid && phone.touched,
                            'is-valid': phone.valid && phone.touched
                          }" formControlName="phone">
                        <div *ngIf="phone.touched && phone.hasError('required')" class="invalid-feedback">Pole Imię jest wymagane</div>
                        <div *ngIf="phone.touched && phone.hasError('minlength')" class="invalid-feedback">Pole Imię musi zawierać min 3 znaki</div>
                    </div>
        
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Wiadomość:</label>
                        <textarea class="form-control" [ngClass]="{
                            'is-invalid': message.invalid && message.touched,
                            'is-valid': message.valid && message.touched
                          }" formControlName="message" formControlName="description" id="message" rows="5"></textarea>
                    </div>
                    
                </div>
    
                <button class="w-100 btn btn-success btn-lg" type="submit">Wyślij wiadomość</button>
                </form>

        </div>
    </div> 
</div>