<div class="container">
    <main>
    <div class="row g-5">
        <div class="col-md-12 col-lg-3"></div>
        <div class="col-md-12 col-lg-6">
        <div class="pt-5 pb-1">
            <h2>Rejestracja</h2>
            <p>Proszę wpisz swoje dane.</p>
        </div>

        <hr class="mt-2 mb-2">
        {{usernameError}}
        <form [formGroup]="registerForm" (submit)="register()" class="needs-validation" >
            <div>
            <mat-form-field class="example-form-field">
                <mat-label>Imie</mat-label>
                <input matInput formControlName="firstName">
              </mat-form-field>
            </div>

            <div class="row g-3">
            <div class="col-sm-12 col-lg-6">
                <label for="firstName" class="form-label">Imię:</label>
                <input type="text" class="form-control" formControlName="firstName">
                <div class="invalid-feedback">
                Valid first name is required.
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <label for="lastName" class="form-label">Nazwisko:</label>
                <input type="text" class="form-control" formControlName="lastName">
                <div class="invalid-feedback">
                Valid last name is required.
                </div>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Twój adres e-mail:</label>
                <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" formControlName="username">
                {{usernameError}}
                <div *ngIf="error" class="invalid-feedback">
                    {{usernameError}}
                </div>
                </div>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Telefon:</label>
                <div class="input-group has-validation">
                <span class="input-group-text">+48</span>
                <input type="text" class="form-control" formControlName="phone">
                <div class="invalid-feedback">
                    Your username is required.
                </div>
                </div>
            </div>
            
            </div>

            <div class="row gy-3 mt-3">
                <div class="col-md-6">
                <label for="cc-name" class="form-label">Hasło</label>
                <input type="text" class="form-control" formControlName="password">
                <div class="invalid-feedback">
                    Name on card is required
                </div>
                </div>
    
                <div class="col-md-6">
                <label for="cc-number" class="form-label">Powtórz hasło</label>
                <input type="text" class="form-control" formControlName="repeatPassword" >
                <div class="invalid-feedback">
                    Credit card number is required
                </div>
                </div>
            </div>

            <hr class="my-4">

            <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Akceptuje regulamin oraz politykę prywatności</label>
            </div>

            <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Wyrażam zgodę na marketing internetowy</label>
            </div>

            <button  mat-flat-button class="w-100 btn btn-primary btn-lg mt-3">Zarejestruj użytkownika</button>
        </form>
        </div>
        <div class="col-md-12 col-lg-3"></div>
    </div>
    </main>
</div>