<h3>Menu Firmy</h3>
<div class="d-grid gap-3">
    <button class="btn btn-outline-secondary" [routerLink]="['/edit-company']" type="button">Informacje podstawowe</button>
    <button class="btn btn-outline-secondary" [routerLink]="['/additional-data']" type="button">Dodatkowe informacje</button>
    <button class="btn btn-outline-secondary" [routerLink]="['/branch']" type="button">Oddziały firmy</button>
    <button class="btn btn-outline-secondary" [routerLink]="['/social-link']" type="button">Linki do social media</button>
</div>