<div class="container">
    <main>
        <div *ngIf="message && message.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" (click)="hideMessage()" aria-label="Close"></button>
        </div>
    <div class="row g-5">
        <div class="col-md-12 col-lg-6">
            <div class="pt-5 pb-1">
                <h2>Logowanie</h2>
                <p>Proszę wpisz swoje dane:</p>
            </div>

            <hr class="mt-1 mb-4 w-75">

            <div *ngIf="validationErrors.get('password')" class="alert alert-danger" role="alert">
                {{validationErrors.get('password')}}
            </div>

            <div *ngIf="validationErrors.get('username')" class="alert alert-danger" role="alert">
                {{validationErrors.get('username')}}
            </div>

            <div *ngIf="loginError" class="alert alert-danger" role="alert">
                {{loginError}}
            </div>
        
            <form [formGroup]="loginForm" (submit)="login()">

                <div class="col-md-12 col-lg-10 mb-3">
                    <label class="form-label">Twój adres e-mail:</label>
                    <div class="input-group">
                        
                        <input type="text" class="form-control" [ngClass]="{
                            'is-invalid': username.invalid && username.touched || validationErrors.get('username'),
                            'is-valid': username.valid && username.touched
                        }" formControlName="username">
                        <div *ngIf="username.touched && username.hasError('required')" class="invalid-feedback">Pole e-mail jest wymagane</div>
                        <div *ngIf="username.touched && username.hasError('email')" class="invalid-feedback">Pole musi zawierać poprawny adres email</div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-10 mb-3">
                    <label class="form-label">Hasło:</label>
                    <input type="password" class="form-control" [ngClass]="{
                        'is-invalid': password.invalid && password.touched,
                        'is-valid': password.valid && password.touched
                        }" formControlName="password">
                    <div *ngIf="password.touched && password.hasError('required')" class="invalid-feedback">Hasło jest wymagane</div>
                    <div *ngIf="password.touched && password.hasError('minlength')" class="invalid-feedback">Pole Nazwisko musi zawierać min 8 znaki</div>
                </div>

                <button class="w-75 btn btn-success btn-lg mt-3" type="submit">Zaloguj się</button>
            </form>
            <p class="mt-4"><a routerLink="/remember-password">Nie pamiętasz hasła? Kliknij tutaj.</a></p>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="top-50 start-50 text-center">
                <div class="mt-5">.</div>
                <h2>Nie masz jeszcze konta użytkownika?</h2>
                <p>Załóż je teraz za darmo, aby:</p>
                <div class="w-lg-50 mx-auto text-start">
                    <ul>
                        <li>dodawać hurtownie/firmy do bazy</li>
                        <li>aby komentować oraz dodawać opinie</li>
                        <li>oraz inne funkcjonalności dedykowane tylko dla zalogowanych użytkowników</li>
                    </ul>
                </div>
                <p><a routerLink="/registration" class="btn btn-lg btn-success">Zarejestruj się</a></p>
            </div>
        </div>
    </div>
    </main>
</div>