<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="./assets/logo.png" style="width: 150px;" class="me-5">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><button href="#" class="btn btn-sm btn-outline-secondary mx-1" [routerLink]="['/catalog']">Hurtownie</button></li>
          <li><button href="#" class="btn btn-sm btn-outline-secondary mx-1" [routerLink]="['/blog']">Blog</button></li>
          <li><button href="#" class="btn btn-sm btn-outline-secondary mx-1" [routerLink]="['pl/o-b2bpoint']">O B2BPoint</button></li>
          <li><button href="#" class="btn btn-sm btn-outline-secondary mx-1" [routerLink]="['add-company']">Dodaj firmę</button></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" [formGroup]="searchForm" (ngSubmit)="search()">
          <input  class="form-control" placeholder="Szukaj..." type="text" formControlName="keyword">
          <button type="submit" style="display: none;"></button>
        </form>

        <button *ngIf="logged === true" mat-button [matMenuTriggerFor]="aboveMenu">{{username}}</button>
          <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item [routerLink]="['/user-panel']">Panel użytkownika</button>
            <button mat-menu-item [routerLink]="['/edit-user']">Edytuj użytkownika</button>
            <button mat-menu-item [routerLink]="['/logout']">Wyloguj</button>
          </mat-menu>
          
        <button *ngIf="logged === false" mat-button [matMenuTriggerFor]="belowMenu">{{username}}</button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item [routerLink]="['/login']">Zaloguj</button>
            <button mat-menu-item [routerLink]="['/registration']">Zarejestruj</button>
          </mat-menu>

      </div>
    </div>
</header>